body {
	background-color: #3f3f3f;
}
.image {
	height: 60%;
	float: left;
}
.loupe {
	position: absolute;
	height: 150px;
	margin-top: -45px;
	margin-left: -220px;
	float: right;
}

form {
	color: black;
	font-family: monospace;
	font-size:16px;
}
.rel {
	position: absolute;
	margin-top: -30px;
	margin-left: -30px;
	height: 25px;
}
.cross {
	position: absolute;
	height: 25px;
	margin-top: 5px;
	margin-left: -30px;
}

.container {
	width: 70%;
    margin: 10px auto;
    min-width: 1600px;
}

.block {
	display: inline-block;
	vertical-align: top;
    margin-bottom: 10px;
    padding: 5px;
    color: #cc0000;
    box-shadow: 10px 10px 10px black;
    background-color: #909091;
    border-radius: 15px;
    margin-bottom: 30px;
}

.header{
	position: relative;
	float: center;
	width: 100%;
    min-height: 50px;
    min-width: 1000px;
    max-height: 170px;
    margin-right: 9px;
}

.left {
	width: 10%;
	height: 36%;
	margin-left: 3%;
	min-height: 450px;
	min-width: 100px;
}

.center {
	width: 69%;
	margin-left: 2%;
	min-height: 500px;
	min-width: 700px;
}

.right {
	width: 10%;
	height: 36%;
	margin-left: 2%;
	min-height: 450px;
	min-width: 100px;
}

.l_pic {
	height: 80px;
}

.cluster {
	margin-top: 4px;
	width: 100%; 
}

.brick{
    background: url("resources/brick.jpg");
    width: 90%;
    height: 100px;
}

.block2 {
    width: 550px;
    height: 150px;
    background: #9cff99;
    padding: 5px;
    border: solid 1px black;
    float: center;
    position: absolute;
    margin-left: 0px;
    margin-top: 800px;
}

.block3 {
    width: 100px;
    height: 150px;
    background: none;
    padding: 5px;
    float: center;
    position: absolute;
    margin-left: 620px;
    margin-top: 550px;
}

.block4 {
    width: 200px;
    height: 150px;
    background: none;
    padding: 5px;
    float: center;
    position: absolute;
    margin-left: 1120px;
    margin-top: 550px;
}

.underscore {
     text-shadow: 0px 4px 3px red, 0 0 1em red;
}

a:hover img  {
    border: 5px solid red;
    border-radius: 10px;
}

