body {
			background-color: #ffcc00;
		}
        h1 {
            padding-left: 360px;
            font-size: 4vmin;
        }
		table {
            width: 97%;
            height: 90%;
            border-collapse: collapse;
            border: 2px solid black;
        }
        tr {
            border-collapse: collapse;
            border: 1px solid black;
        }
        td {
            width: 5%;
            height: 8%;
            border-collapse: collapse;
            border: 1px solid black;
        }
        p {
            margin-top: 1px;
            margin-bottom: 1px;
        }
        th {
            min-width: 50px;
            min-height: 50px;
            background: white;
            text-align: center;
            color: blue;
            border-collapse: collapse;
            border: 1px solid black;
            font-size: 3vmin;
        }
        .atom {
            text-align: right;
            vertical-align: bottom;
            font-size: 1vmin;
        }
        .elem {
            text-align: center;
            font-weight: bold;
            font-size: 2vmin;
        }
        .num {
            text-align: left;
            vertical-align: text-top;
            font-size: 1vmin;
        }
        .metal {
            background-color: #99ff66;
        }
        .semi {
            background-color: #3399ff;
        }
        .non {
            background-color: yellow;
        }
        .un {
            background-color: white;
        }
        .wild
        {
            text-align: center;
        }
        .image {
            width: 3%;
            height: 3%;
        }